<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752030270297-fv9uui5t7s7odc263g6v1bickkunmq0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752030270297-fv9uui5t7s7odc263g6v1bickkunmq0n</string>
	<key>API_KEY</key>
	<string>AIzaSyCFb86WnLouqan8sfyz9tpVlFABP3-gHp8</string>
	<key>GCM_SENDER_ID</key>
	<string>752030270297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.classbridge.development</string>
	<key>PROJECT_ID</key>
	<string>classbridgebackend</string>
	<key>STORAGE_BUCKET</key>
	<string>classbridgebackend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752030270297:ios:962a52a4525e0a50fa8248</string>
	<key>DATABASE_URL</key>
	<string>https://classbridgebackend-default-rtdb.firebaseio.com</string>
</dict>
</plist>